
/* Highlight commonly misused tags, may not actually have been misused. */

/* blockquote may be misused to indent highlighted with red-orange background */

blockquote
{
	background-color: #f63;
}

blockquote * {
  background: #f63 !important;
}