
/* Highlight tags which are deprecated in xhtml 1.0 strict */

/* bright red background and for some elements border */
font {
  background: #f00 !important;
}
font * {
  background: #f00 !important;
}
font ol, font ul, font dl {
  border: 2px solid #000 !important;
  border-collapse: separate !important;
  background: #f00 !important;
}
applet {
  border: 2px solid #f00 !important;
  background: #f00 !important;
}
basefont {
  background: #f00 !important;
}
center {
  background: #f00 !important;
  border: 2px solid #f00 !important;
}
dir {
  background: #f00 !important;
  border: 2px solid #f00 !important;
}
isindex {
  background: #f00 !important;
}
menu {
  background: #f00 !important;
  border: 2px solid #f00 !important;
}
s {
  background: #f00 !important;
}
strike {
  background: #f00 !important;
}
u {
  background: #f00 !important;
}
i {
  background: #f00 !important;
}
listing {
  background: #f00 !important;
  border: 2px solid #f00 !important;
}
plaintext {
  background: #f00 !important;
}
xmp {
  background: #f00 !important;
}


/* proprietary tags - bright magenta */
layer {
  background: #f3f !important;
  border: 2px solid #f3f !important;
}
embed {
  background: #f3f !important;
  border: 2px solid #f3f !important;
}
noembed {
  background: #f3f !important;
  border: 2px solid #f3f !important;
}
shadow {
  background: #f3f !important;
  border: 2px solid #f3f !important;
}

/* deprecated attributes? use content after?
http://webdesign.about.com/library/tags/bltags-deprecatedtags.htm
http://www.codehelp.co.uk/html/deprecated.html
http://andrewbossom.crosswinds.net/resources/reference/oldtags.html
 */