/*  Form Elements */
form:before {
	content: "<form>";
	padding: 1px;
	color: #00037f;
	background: #9EBAD3;
	font: 10px ProFont, "Bitstream Vera Sans", Verdana, sans-serif;
	border: #80BAFF 1px solid;
}
form:after {
	content: "</form>";
	padding: 1px;
	color: #00037f;
	background: #9EBAD3;
	font: 10px ProFont, "Bitstream Vera Sans", Verdana, sans-serif;
	border: #80BAFF 1px solid;
}
input:after {
  content: "<input> type=" attr(type);
	padding: 1px;
	color: #00037f;
	background: #9EBAD3;
	font: 10px ProFont, "Bitstream Vera Sans", Verdana, sans-serif;
	border: #80BAFF 1px solid;
}
input[class]:before {
  content: "<input> ." attr(class);
	padding: 1px;
	color: #00037f;
	background: #9EBAD3;
	font: 10px ProFont, "Bitstream Vera Sans", Verdana, sans-serif;
	border: #80BAFF 1px solid;
}
input[id]:before {
  content: "<input> #" attr(id);
	padding: 1px;
	color: #00037f;
	background: #9EBAD3;
	font: 10px ProFont, "Bitstream Vera Sans", Verdana, sans-serif;
	border: #80BAFF 1px solid;
}
input[class][id]:before {
  content: "<input> ." attr(class) " #" attr(id);
	padding: 1px;
	color: #00037f;
	background: #9EBAD3;
	font: 10px ProFont, "Bitstream Vera Sans", Verdana, sans-serif;
	border: #80BAFF 1px solid;
}
label:before {
	content: "<label>";
	padding: 1px;
	color: #00037f;
	background: #9EBAD3;
	font: 10px ProFont, "Bitstream Vera Sans", Verdana, sans-serif;
	border: #80BAFF 1px solid;
}
label[class]:before {
	content: "<label> ." attr(class);
	padding: 1px;
	color: #00037f;
	background: #9EBAD3;
	font: 10px ProFont, "Bitstream Vera Sans", Verdana, sans-serif;
	border: #80BAFF 1px solid;
}
legend:before {
	content: "<legend>";
	padding: 1px;
	color: #00037f;
	background: #9EBAD3;
	font: 10px ProFont, "Bitstream Vera Sans", Verdana, sans-serif;
	border: #80BAFF 1px solid;
}
select:before {
	content: "<select>";
	padding: 1px;
	color: #00037f;
	background: #9EBAD3;
	font: 10px ProFont, "Bitstream Vera Sans", Verdana, sans-serif;
	border: #80BAFF 1px solid;
}
option:before {
	content: "<option>";
	padding: 1px;
	color: #00037f;
	background: #9EBAD3;
	font: 10px ProFont, "Bitstream Vera Sans", Verdana, sans-serif;
	border: #80BAFF 1px solid;
}
optgroup:before {
	content: "<optgroup>";
	padding: 1px;
	color: #00037f;
	background: #9EBAD3;
	font: 10px ProFont, "Bitstream Vera Sans", Verdana, sans-serif;
	border: #80BAFF 1px solid;
}

/* Drupal Specific Form Classes */
div.form-item {
	padding: 1px;
	color: #00037f;
	font: 10px ProFont, "Bitstream Vera Sans", Verdana, sans-serif;
	border: #80BAFF 1px solid !important;
}
div.form-item[id]:before {
  content: "<div> #" attr(id);
  border: 1px solid #80BAFF;
  padding: 1px;
  color: #00037f;
  background: #9EBAD3;
  font: 10px ProFont, "Bitstream Vera Sans", Verdana, sans-serif;
}
div.form-item[class]:before {
  content: "<div> ." attr(class);
  border: 1px solid #80BAFF;
  padding: 1px;
  color: #00037f;
  background: #9EBAD3;
  font: 10px ProFont, "Bitstream Vera Sans", Verdana, sans-serif;
}
div.form-item[class][id]:before {
  content: "<div> ." attr(class) " #" attr(id);
  border: 1px solid #80BAFF;
  padding: 1px;
  color: #00037f;
  background: #9EBAD3;
  font: 10px ProFont, "Bitstream Vera Sans", Verdana, sans-serif;
}
