
/* Reveal the structure of lists */
/* list-items have pale green background, flagged in a darker shade with id or class */

li {
  background: #f2ffdf !important;
}

li[id]:before {
  content: "<li> #" attr(id);
  border: 1px solid #c9e6c9;
  padding: 1px;
  color: #000;
  background: #c9e6c9;
  font: 10px ProFont, "Bitstream Vera Sans", Verdana, sans-serif;
}

li[class]:before {
  content: "<li> ." attr(class);
  border: 1px solid #c9e6c9;
  padding: 1px;
  color: #000;
  background: #c9e6c9;
  font: 10px ProFont, "Bitstream Vera Sans", Verdana, sans-serif;
}

li[class][id]:before {
  content: "<li> ." attr(class) " #" attr(id);
  border: 1px solid #c9e6c9;
  padding: 1px;
  color: #000;
  background: #c9e6c9;
  font: 10px ProFont, "Bitstream Vera Sans", Verdana, sans-serif;
}

/* lists are outlined in black */
ol, ul, dl {
  border: 1px solid #000 !important;
  border-collapse: separate !important;
}

/* Unordered - minty green background */
/* Flagged in green text on black at start and end, or with class or id */

ul {
  color: #000;
  background: #99cc99;
}

ul:before, ul:after {
  border: 1px solid #000;
  padding: 1px;
  color: #99cc99;
  background: #000;
  font: 10px ProFont, "Bitstream Vera Sans", Verdana, sans-serif;
}

ul:before {
  content: "<ul>";
}
ul:after {
  content: "</ul>";
}

ul[id]:before {
  content: "<ul> #" attr(id);
  border: 1px solid #000;
  padding: 1px;
  color: #99cc99;
  background: #000;
  font: 10px ProFont, "Bitstream Vera Sans", Verdana, sans-serif;
}

ul[class]:before {
  content: "<ul> ." attr(class);
  border: 1px solid #000;
  padding: 1px;
  color: #99cc99;
  background: #000;
  font: 10px ProFont, "Bitstream Vera Sans", Verdana, sans-serif;
}

ul[class][id]:before {
  content: "<ul> ." attr(class) " #" attr(id);
  border: 1px solid #000;
  padding: 1px;
  color: #99cc99;
  background: #000;
  font: 10px ProFont, "Bitstream Vera Sans", Verdana, sans-serif;
}

/* Ordered lists - pale yellow background */
/* Flagged in yellow text on black at start and end, or with class or id */

ol {
  color: #000;
  background: #ffffdf;
}

ol:before, ol:after {
  border: 1px solid #000;
  padding: 1px;
  color: #ffffdf;
  background: #000;
  font: 10px ProFont, "Bitstream Vera Sans", Verdana, sans-serif;
}

ol:before {
  content: "<ol>";
}
ol:after {
  content: "</ol>";
}

ol[id]:before {
  content: "<ol> #" attr(id);
  border: 1px solid #000;
  padding: 1px;
  color: #ffffdf;
  background: #000;
  font: 10px ProFont, "Bitstream Vera Sans", Verdana, sans-serif;
}

ol[class]:before {
  content: "<ol> ." attr(class);
  border: 1px solid #000;
  padding: 1px;
  color: #ffffdf;
  background: #000;
  font: 10px ProFont, "Bitstream Vera Sans", Verdana, sans-serif;
}

ol[class][id]:before {
  content: "<ol> ." attr(class) " #" attr(id);
  border: 1px solid #000;
  padding: 1px;
  color: #ffffdf;
  background: #000;
  font: 10px ProFont, "Bitstream Vera Sans", Verdana, sans-serif;
}

/* definition lists - taupe background */
/* Flagged in taupe text on black at start and end, or with class or id */

dl{
  color: #000;
  background: #aaaa8e;
}

dl:before, dl:after, dd:before, dt:before {
  border: 1px solid #000;
  padding: 1px;
  color: #aaaa8e;
  background: #000;
  font: 10px ProFont, "Bitstream Vera Sans", Verdana, sans-serif;
}

dd:before, dt:before {
	color: #aaaa8e;
	background: #444;
}

dl:before {
  content: "<dl>";
}
dl:after {
  content: "</dl>";
}

dl[id]:before {
  content: "<dl> #" attr(id);
  border: 1px solid #000;
  padding: 1px;
  color: #aaaa8e;
  background: #000;
  font: 10px ProFont, "Bitstream Vera Sans", Verdana, sans-serif;
}

dl[class]:before {
  content: "<dl> ." attr(class);
  border: 1px solid #000;
  padding: 1px;
  color: #aaaa8e;
  background: #000;
  font: 10px ProFont, "Bitstream Vera Sans", Verdana, sans-serif;
}

dl[class][id]:before {
  content: "<dl> ." attr(class) " #" attr(id);
  border: 1px solid #000;
  padding: 1px;
  color: #aaaa8e;
  background: #000;
  font: 10px ProFont, "Bitstream Vera Sans", Verdana, sans-serif;
}

dd:before {
  content: "<dd>";
}

dd[id]:before {
  content: "<dd> #" attr(id);
  border: 1px solid #000;
  padding: 1px;
  color: #aaaa8e;
  background: #000;
  font: 10px ProFont, "Bitstream Vera Sans", Verdana, sans-serif;
}

dd[class]:before {
  content: "<dd> ." attr(class);
  border: 1px solid #000;
  padding: 1px;
  color: #aaaa8e;
  background: #000;
  font: 10px ProFont, "Bitstream Vera Sans", Verdana, sans-serif;
}

dd[class][id]:before {
  content: "<dd> ." attr(class) " #" attr(id);
  border: 1px solid #000;
  padding: 1px;
  color: #aaaa8e;
  background: #000;
  font: 10px ProFont, "Bitstream Vera Sans", Verdana, sans-serif;
}

dt:before {
  content: "<dt>";
}

dt[id]:before {
  content: "<dt> #" attr(id);
  border: 1px solid #000;
  padding: 1px;
  color: #aaaa8e;
  background: #000;
  font: 10px ProFont, "Bitstream Vera Sans", Verdana, sans-serif;
}

dt[class]:before {
  content: "<dt> ." attr(class);
  border: 1px solid #000;
  padding: 1px;
  color: #aaaa8e;
  background: #000;
  font: 10px ProFont, "Bitstream Vera Sans", Verdana, sans-serif;
}

dt[class][id]:before {
  content: "<dt> ." attr(class) " #" attr(id);
  border: 1px solid #000;
  padding: 1px;
  color: #aaaa8e;
  background: #000;
  font: 10px ProFont, "Bitstream Vera Sans", Verdana, sans-serif;
}
