
/*  Divs - blue grooved border, w/ id or class flagged in white text on blue */
/*  Use of groove allows differentiation of adjacent divs without modifying border */
div {
  border: 4px #2e2eb2 groove !important; 
  /* margin: 5px !important;  breaks too many layouts */
}
div[id]:before {
  content: "<div> #" attr(id);
  border: 1px solid #2e2eb2;
  padding: 1px;
  color: #fff;
  background: #2e2eb2;
  font: 10px ProFont, "Bitstream Vera Sans", Verdana, sans-serif;
}
div[class]:before {
  content: "<div> ." attr(class);
  border: 1px solid #2e2eb2;
  padding: 1px;
  color: #fff;
  background: #2e2eb2;
  font: 10px ProFont, "Bitstream Vera Sans", Verdana, sans-serif;
}
div[class][id]:before {
  content: "<div> ." attr(class) " #" attr(id);
  border: 1px solid #2e2eb2;
  padding: 1px;
  color: #fff;
  background: #2e2eb2;
  font: 10px ProFont, "Bitstream Vera Sans", Verdana, sans-serif;
}

/* Paragraphs - flagged in black text on lilac*/
p:before, p:after {
  border: 1px solid #8989d9;
  padding: 1px;
  color: #000;
  background: #8989d9;
  font: 10px ProFont, "Bitstream Vera Sans", Verdana, sans-serif;
}
p:before {
  content: "<p>";
}
p:after {
  content: "</p>";
}
p[id]:before {
  content: "<p> #" attr(id);
  border: 1px solid #8989d9;
  padding: 1px;
  color: #000;
  background: #8989d9;
  font: 10px ProFont, "Bitstream Vera Sans", Verdana, sans-serif;
}
p[class]:before {
  content: "<p> ." attr(class);
  border: 1px solid #8989d9;
  padding: 1px;
  color: #000;
  background: #8989d9;
  font: 10px ProFont, "Bitstream Vera Sans", Verdana, sans-serif;
}
p[class][id]:before {
  content: "<p> ." attr(class) " #" attr(id);
  border: 1px solid #8989d9;
  padding: 1px;
  color: #000;
  background: #8989d9;
  font: 10px ProFont, "Bitstream Vera Sans", Verdana, sans-serif;
}

/* Spans - flagged in white text on dark lavender */
span:before {
  content: "<span>";
  border: 1px solid #3c3c77;
  padding: 1px;
  color: #fff;
  background: #3c3c77;
  font: 10px ProFont, "Bitstream Vera Sans", Verdana, sans-serif;
}
span[id]:before {
  content: "<span> #" attr(id);
  border: 1px solid #3c3c77;
  padding: 1px;
  color: #fff;
  background: #3c3c77;
  font: 10px ProFont, "Bitstream Vera Sans", Verdana, sans-serif;
}
span[class]:before {
  content: "<span> ." attr(class);
  border: 1px solid #3c3c77;
  padding: 1px;
  color: #fff;
  background: #3c3c77;
  font: 10px ProFont, "Bitstream Vera Sans", Verdana, sans-serif;
}
span[class][id]:before {
  content: "<span> ." attr(class) " #" attr(id);
  border: 1px solid #3c3c77;
  padding: 1px;
  color: #fff;
  background: #3c3c77;
  font: 10px ProFont, "Bitstream Vera Sans", Verdana, sans-serif;
}

/* Other elements - flagged white or black text on lavender*/
br:before {
  content: "<br />";
  border: 1px solid #8787a5;
  padding: 1px;
  color: #000;
  background: #8787a5;
  font: 10px ProFont, "Bitstream Vera Sans", Verdana, sans-serif;
}
br[class]:before {
	content: "<br />" attr(class);
}
br[id]:before {
	content: "<br />" attr(id);
}
br[class][id]:before {
  content: "<br /> ." attr(class) " #" attr(id);
}
hr:before {
  content: "<hr />";
  border: 1px solid #8787a5;
  padding: 1px;
  color: #fff;
  background: #8787a5;
  font: 10px ProFont, "Bitstream Vera Sans", Verdana, sans-serif;
}
hr[class]:before {
	content: "<hr />" attr(class);
}
hr[id]:before {
	content: "<hr />" attr(id);
}
hr[class][id]:before {
  content: "<hr /> ." attr(class) " #" attr(id);
}

/* table/th/td: dark/mid/light orange borders */
table {
  border: 2px solid #f60 !important;
  border-collapse: separate !important;
  border-spacing: 1px !important;
  empty-cells: show !important;
}
th {
  border: 1px solid #f90 !important;
  padding: 2px;
}
td {
  border: 1px solid #fc0 !important;
  padding: 2px;
}

/* Headings - coloured purple */
h1, h2, h3, h4, h5, h6 {
  color: #609 !important;
}
/* Flagged with heading number - dark purple on pale */
h1:before, h2:before, h3:before, h4:before, h5:before, h6:before {
  border: 1px solid #609;
  padding: 1px;
  color: #609;
  background: #d2ace6;
  font: 10px ProFont, "Bitstream Vera Sans", Verdana, sans-serif;
}
h1:before {
  content: "<h1>";
}
h2:before {
  content: "<h2>";
}
h3:before {
  content: "<h3>";
}
h4:before {
  content: "<h4>";
}
h5:before {
  content: "<h5>";
}
h6:before {
  content: "<h6>";
}
h1[class]:before {
  content: "<h1> ." attr(class);
}
h1[id]:before {
  content: "<h1> #" attr(id);
}
h1[class][id]:before {
  content: "<h1> ." attr(class) " #" attr(id);
}
h2[class]:before {
  content: "<h2> ." attr(class);
}
h2[id]:before {
  content: "<h2> #" attr(id);
}
h2[class][id]:before {
  content: "<h2> ." attr(class) " #" attr(id);
}
h3[class]:before {
  content: "<h3> ." attr(class);
}
h3[id]:before {
  content: "<h3> #" attr(id);
}
h3[class][id]:before {
  content: "<h3> ." attr(class) " #" attr(id);
}
h4[class]:before {
  content: "<h4> ." attr(class);
}
h4[id]:before {
  content: "<h4> #" attr(id);
}
h4[class][id]:before {
  content: "<h4> ." attr(class) " #" attr(id);
}
h5[class]:before {
  content: "<h5> ." attr(class);
}
h5[id]:before {
  content: "<h5> #" attr(id);
}
h5[class][id]:before {
  content: "<h5> ." attr(class) " #" attr(id);
}
h6[class]:before {
  content: "<h6> ." attr(class);
}
h6[id]:before {
  content: "<h6> #" attr(id);
}
h6[class][id]:before {
  content: "<h6> ." attr(class) " #" attr(id);
}

/*  Links with class or id have it marked yellow text on blue, all links are marked <a> */
a:before {
  content: "<a>";
  border: 1px #369 solid;
  padding: 1px;
  color: #ff0;
  background: #369;
  font: 10px ProFont, "Bitstream Vera Sans", Verdana, sans-serif;
}
a[id]:before {
  content: "<a> #" attr(id);
  border: 1px #369 solid;
  padding: 1px;
  color: #ff0;
  background: #369;
  font: 10px ProFont, "Bitstream Vera Sans", Verdana, sans-serif;
}
a[class]:before {
  content: "<a> ." attr(class);
  border: 1px solid #369;
  padding: 1px;
  color: #ff0;
  background: #369;
  font: 10px ProFont, "Bitstream Vera Sans", Verdana, sans-serif;
}
a[class][id]:before {
  content: "<a> ." attr(class) " #" attr(id);
  border: 1px solid #369;
  padding: 1px;
  color: #ff0;
  background: #369;
  font: 10px ProFont, "Bitstream Vera Sans", Verdana, sans-serif;
}
/*  Form Elements */
form:before {
	content: "<form>";
	padding: 1px;
	color: #00037f;
	background: #9EBAD3;
	font: 10px ProFont, "Bitstream Vera Sans", Verdana, sans-serif;
	border: #80BAFF 1px solid;
}
form:after {
	content: "</form>";
	padding: 1px;
	color: #00037f;
	background: #9EBAD3;
	font: 10px ProFont, "Bitstream Vera Sans", Verdana, sans-serif;
	border: #80BAFF 1px solid;
}
