
/* Diagnostic css to reveal the structure of tables */

/* table/th/td: dark/mid/light orange borders */

table {
  border: 2px solid #f60 !important;
  border-collapse: separate !important;
  border-spacing: 1px !important;
  empty-cells: show !important;
}

th {
  border: 1px solid #f90 !important;
  padding: 2px;
}

tr {
  border: 1px #c93 solid;
  padding: 2px;
}

td {
  border: 1px solid #fc0 !important;
  padding: 2px;
}

/* styles to show table id and class */
table[id]:before {
  content: "<table> #" attr(id);
  border: 1px solid #000;
  padding: 1px;
  color: #000;
  background: #f60;
  font: 10px ProFont, "Bitstream Vera Sans", Verdana, sans-serif;
}

table[class]:before {
  content: "<table> ." attr(class);
  border: 1px solid #000;
  padding: 1px;
  color: #000;
  background: #f60;
  font: 10px ProFont, "Bitstream Vera Sans", Verdana, sans-serif;
}

table[class][id]:before {
  content: "<table> ." attr(class) " #" attr(id);
  border: 1px solid #000;
  padding: 1px;
  color: #000;
  background: #f60;
  font: 10px ProFont, "Bitstream Vera Sans", Verdana, sans-serif;
}

th[id]:before {
  content: "<th> #" attr(id);
  border: 1px solid #000;
  padding: 1px;
  color: #000;
  background: #f90;
  font: 10px ProFont, "Bitstream Vera Sans", Verdana, sans-serif;
}

th[class]:before {
  content: "<th> ." attr(class);
  border: 1px solid #000;
  padding: 1px;
  color: #000;
  background: #f90;
  font: 10px ProFont, "Bitstream Vera Sans", Verdana, sans-serif;
}

th[class][id]:before {
  content: "<th> ." attr(class) " #" attr(id);
  border: 1px solid #000;
  padding: 1px;
  color: #000;
  background: #f90;
  font: 10px ProFont, "Bitstream Vera Sans", Verdana, sans-serif;
}

tr[id]:before {
  content: "<tr> #" attr(id);
  border: 1px solid #000;
  padding: 1px;
  color: #000;
  background: #c93;
  font: 10px ProFont, "Bitstream Vera Sans", Verdana, sans-serif;
}

tr[class]:before {
  content: "<tr> ." attr(class);
  border: 1px solid #000;
  padding: 1px;
  color: #000;
  background: #c93;
  font: 10px ProFont, "Bitstream Vera Sans", Verdana, sans-serif;
}

tr[class][id]:before {
  content: "<tr> ." attr(class) " #" attr(id);
  border: 1px solid #000;
  padding: 1px;
  color: #000;
  background: #c93;
  font: 10px ProFont, "Bitstream Vera Sans", Verdana, sans-serif;
}

td[id]:before {
  content: "<td> #" attr(id);
  border: 1px solid #000;
  padding: 1px;
  color: #000;
  background: #fc0;
  font: 10px ProFont, "Bitstream Vera Sans", Verdana, sans-serif;
}

td[class]:before {
  content: "<td> ." attr(class);
  border: 1px solid #000;
  padding: 1px;
  color: #000;
  background: #fc0;
  font: 10px ProFont, "Bitstream Vera Sans", Verdana, sans-serif;
}

td[class][id]:before {
  content: "<td> ." attr(class) " #" attr(id);
  border: 1px solid #000;
  padding: 1px;
  color: #000;
  background: #fc0;
  font: 10px ProFont, "Bitstream Vera Sans", Verdana, sans-serif;
}
