
/* Override all other styles applied to the themedev block. */
div#block-themedev-0,
div#block-themedev-0 .content,
div#block-themedev-0 .content div
{
  border: none !important;
}
div#block-themedev-0[class][id]:before,
div#block-themedev-0 h2[class]:before,
div#block-themedev-0 .content[class]:before,
div#block-themedev-0 .content div[class]:before
{
  content: "";
  border: none !important;
	padding: 0;
}
div#block-themedev-0 form:before,
div#block-themedev-0 form:after,
div#block-themedev-0 label:before
{
	content: "";
  border: none !important;
	padding: 0;
}
div#block-themedev-0 h2 {
  color: #000 !important;
}
div#block-themedev-0 h2:before {
	content: "";
  border: none !important;
	padding: 0;
}
div#block-themedev-0 .form-item {
  font-size: 10px !important;
	color: #000;
	margin: 0;
	padding: 0;
}

/* style and position the block */
div#block-themedev-0 {
	font-family: ProFont, Monaco, monospace;
	margin: 10px;
	padding: 0;
	background-image: url(../images/square-drop-shadow.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	background-color: #transparent;
	border: hidden;
	position: fixed;
	bottom: 0px;
	left: 0px;
	z-index: 1000000; 
}
div#block-themedev-0 h2 {
  font-size: 13px !important;
	font-family: ProFont, Monaco, Geneva, mono, monospace;
	color: #333 !important;
	background-color: #fff;
	padding: 1px 4px 2px 4px !important;
	margin: 0px 7px 0px 0px  !important;
}
div#block-themedev-0 .content {
  font-size: 10px;
	padding: 3px;
	background-color: #fff;
	margin: 0px 7px 7px 0px;
}
div#block-themedev-0 .content form .form-checkbox {
  color: #000;
	height: 12px;
	width: 12px;
	margin: 1px;
	padding: 3px;
}
div#block-themedev-0 .content form .form-item:hover {
	background: #FFCC00;
}
div#block-themedev-0 .content form .form-submit {
  font-size: 10px;
	margin: 0 auto;
}
