
/* img alt text and dimensions */
/* Highlight images (red) without alt-text or dimensions */

img {
  border: 2px solid #f00 !important;
  visibility: visible !important;
}

/* Highlight images (amber) without alt-text */

img[height][width] {
  border: 2px solid #f90 !important;
  visibility: visible !important;
}

/* Lowlight images with alt-text and dimensions */

img[alt][height][width] {
  border-width: 0 !important;
  visibility: visible !important;
}

/* Hyperlinks with titles are followed by a 'T' in green box */

a[title]:after {
  content: "T";
  color: #fff;
  background: #390;
  margin-left: 3px;
  font: 8px "Bitstream Vera Sans", Verdana, sans-serif;
  border-left: 2px #390 solid;
  border-right: 2px #390 solid;
  border-top: 1px #390 solid;
}

/* Highlight Usability problems */

/* New window warning */

a[target="_blank"]:before {
  content: "Opens new window:";
  border: 1px solid #f00;
  padding: 1px;
  color: #000;
  background: #ff6600;
  font: 10px ProFont, "Bitstream Vera Sans", Verdana, sans-serif;
}

